@using NerdStoreEnterprise.WebApp.Mvc.Extensions
@inject IUser _appUser

<ul class="navbar-nav">
    @if (_appUser.IsAuthenticated())
    {
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="rounded-circle" src="https://s.gravatar.com/avatar/@(this.HashEmailForGravatar(_appUser.GetUserEmail()))?d=mm&s=50" alt="User profile images"/>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
            </div>
        </div>
    }
    else
    {
        <li class="nav-item" style="padding-right: 12px;">
            <a class="btn btn-secondary" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>